.hide {
    display: none;
}

html,
body,
#map {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    height: 500px;
}

#LocateButton {
    position: absolute;
    top: 155px;
    left: 20px;
    z-index: 50;
}